@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");

@font-face {
  font-family: "Coustard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/coustard/v16/3XFpErgg3YsZ5fqUU-UIt2Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
  box-sizing: border-box;
  font-family: "coustard";
  padding: 0;
  margin: 0;

}

body {
  background-color: #cbdd73;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.logo{
  font-size: 30px;
  font-family: "coustard";
  color: #d88b84;
  display: flex;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 95px;
  background: #ffff;
  font-family: "coustard";
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar a{
  position: relative;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 70px;
  color: #d88b84;
}

h1 {
  color: #d88b84;
  font-size: 32px;
  font-family: "coustard";
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

input[type="text"] {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  width: 300px;
}
.btn {
  cursor: pointer;
}
button[type="submit"] {
  background-color: #d88b84;
  border: none;
  border-radius: 8px;
  color: #d88b84;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #d88b84;
}

#results {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 40px 0;
}

#results > div {
  background-color:#d88b84;
  border-radius: 8px;
  box-shadow: 0 4px 6px #d88b84(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#results img {
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  height: 200px;
  width: 100%;
  box-shadow: #d88b84;
}

#results h3 {
  color: black;
  font-size: 24px;
  font-family: "coustard";
  margin: 0;
}

#results ul {
  margin: 0;
  padding: 0;
}

#results li {
  list-style: none;
  margin-bottom: 10px;
}

#results a {
  background-color: #cbdd73;
  border-radius: 8px;
  color: black;
  font-size: 24px;
  font-family: 'coustard';
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
}

#results a:hover {
  background-color: #d88b84;
}
