@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");

@font-face {
  font-family: "Coustard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/coustard/v16/3XFpErgg3YsZ5fqUU-UIt2Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Coustard";
}

:root {
  --pink-melon-dark: #d88b84;
}

body {
  min-height: 100vh;
  background: #cbdd73;
  background-size: cover;
  background-position: center;
  font-family: "Coustard";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05em;
  font-display: swap;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:20px 100px;
  background: var(--pink-melon-dark);
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;

}

.logo{
  font-size: 30px;
  color: #ffff;
  text-decoration: none;
  font-family: 'coustard';
}

.navbar a {
  position: relative;
  font-size: 19px;
  text-decoration: none;
  color: #ffff;
  font-weight: 600;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: var(--pink-melon-dark);

}

.btn {
  font-family: "coustard";
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
  color: #ffff;
  background: var(--pink-melon-dark);
}

.Recipe-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px;
  background: #cbdd73;
  text-align: center;
}

.recipe-search {
  margin: 1.5rem;
}

.search-content {
  width: 60%;
  height: 30%;
  padding: 0 1rem;
  font-size: 1.5rem;
  outline: 0;
  border: 1.5px solid var(--pink-melon-dark);
  boarder: var(--pink-melon-dark);
  color: var(--pink-melon-dark);
}

.search-content::placeholder{
  color: var(--pink-melon-dark);
}

.recipe-results{
  margin-top: 4rem;
}

#recipes{
  margin: 5rem;
}

.recipe-items{
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 22px var(--pink-melon-dark);
  margin: 2rem 0;
}

.recipe-img img{
  width: 100%;
  display: block;
  margin: .5 rem;
}

.recipe-name {
  padding: 1.5em 0.5rem;
}

.recipe-name h2 {
  font-size: 1.5rem;
}

.recipe-btn {
  text-decoration: none;
  color: #ffff;
  background: var(--pink-melon-dark);
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.75rem 0;
  display: block;
  width: 150px;
  margin: 1rem auto;
  border-radius: 2rem;
}

@media screen and (min-width: 600px) {
  .recipe-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 760) {
  #meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .recipe-items {
    margin: 0;
  }
}

.recipe-detail{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: #ffff;
    background: var(--pink-melon-dark);
    border-radius: 2rem;
    overflow-y: scroll;
    display: none;
    display: 1.5rem;
    padding: 1.5rem 0;
}

.recipe-detail::-webkit-scrollbar{
    width: 10px;
}

.recipe-detail::-webkit-scrollbar-thumb{
    background: #ffff;
    border-radius: 2rem;
}

.showRecipe{
    display: block;
}

.recipe-detail-content{
    margin: 0.1em;
}

.recipe-detail-content p{
    padding: .9;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    background: #ffff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title{
    letter-spacing: 2px;
    padding: 1rem;
}

.recipe-category{
    background: #ffff;
    font-weight: 600;
    color: var(--pink-melon-dark);
    display:inline-block;
    padding: 0.2rem,0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruction{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height:100px;
    border-radius: 60%;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
}